version: "3.9"

services:
  backend:
    build: ./backend
    container_name: noto-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: noto-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: noto-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: noto
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
